In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [18]:
data = pd.read_csv('./data.tsv', sep='\t', index_col='id')

In [19]:
data.head()

,title,issued,modified,description
id,,,,
12289,Novel Hybrid Propulsion System for Sample Retu...,2016-12-01,2018-07-19,xxxxxxbilis xxxxxx Technologies is pleased to ...
12290,PHOENIX MARS METEOROLOGICAL PRESSURE / TEMPERA...,2018-06-26,2018-07-19,The PHX METEOROLOGICAL DATA product contains p...
12291,"3D Flash LIDARAll Weathr Safety, Phase I",2015-12-01,2018-07-19,ASC has developed non-scanning 3D xxxxxxTM ima...
12292,Level 2.0 Almucantar Inversion Products (excep...,2018-06-25,2018-07-19,xxxxxxNET inversion code provides aerosoloptic...
12293,Collaborative Outbound Taxi Metering for Envir...,2008-07-01,2018-07-19,This proposal addresses the concept of Collabo...

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24356 entries, 12289 to 12288
Data columns (total 4 columns):
title          24356 non-null object
issued         24356 non-null object
modified       24356 non-null object
description    24289 non-null object
dtypes: object(4)
memory usage: 951.4+ KB

In [21]:
data.describe()

,title,issued,modified,description
count,24356,24356,24356,24289
unique,23654,2195,1244,21348
top,Gazetteer of Planetary Nomenclature,2018-06-26,2018-07-19,not applicable
freq,81,2923,13488,265

In [22]:
print("Title contains N/A?",data.title.isna().unique())
print("Issued contains N/A?",data.issued.isna().unique())
print("Modified contains N/A?",data.modified.isna().unique())
print("Description contains N/A?",data.description.isna().unique())

Title contains N/A? [False]
Issued contains N/A? [False]
Modified contains N/A? [False]
Description contains N/A? [False  True]

In [23]:
print("Entries in title", len(data.title))
print("Unique entries in title", len(data.title.unique()))

Entries in title 24356
Unique entries in title 23654